@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Nunito';
 }
body{
    background-color: rgba(178, 228, 211, 0.162);
}
::selection {
    background-color: #d9eef1;
}
.active{
    background-color: rgba(1, 67, 172, 0.75);
    color: rgb(30, 59, 205);
    
}

@layer components {
    .navbar-active .hamburger div:first-child {
    @apply rotate-45 translate-y-1.5;
    }
    .navbar-active .hamburger div:last-child {
    @apply -rotate-45 -translate-y-1;
    }
    .navbar-active div:first-child div:first-child div:last-child{
        @apply block lg:flex
    }
}